@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Impact';
    src: local('Impact'), url(../Impact_Font/impact.ttf) format('truetype');
}

.text-mega{
    font-size: 13rem;
}